
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home – B Event Booking</title>
  <link rel="stylesheet" href="..//design/style.css" />
</head>
<body>

  
  <div class="sidebar">
    <h2>Dashboard </h2>
    <a href="eventcalender.html">Calender</a>
    <a href="attendeelist.html">Attendee</a>
    <a href="tickettypes.html">Ticket</a>
    <a href="Seatselection.html">Seat-Selection</a>
    <a href="payment.html">Payment</a>
  </div>
   
    <div class="main-content">
    <h1>WELCOME</h1>
    <p>
      B Event Booking is your one-stop platform to manage, book, and track all types of events.
      From venue selection to check-in and refund policies, our system ensures a smooth experience for everyone.
    </p>
    </div>
  </div >
              
</body>
</html>
